.project
.classpath
.settings/
.vscode/
target/
bin/
src/main/java/com/nestedvariables/dev/Discord/Quiver/SQLDriver.java
src/main/java/com/nestedvariables/dev/Discord/Quiver/Token.java
My-Google-Assistant-f04dd100ade1.json
*.png
LICENSE
start.sh
src/main/java/com/nestedvariables/dev/Discord/Quiver/locale/he_IL.json
src/main/resources/locale/he_IL.json
